<div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form [formGroup]="formSignup" class="login-container">
      <p><input formControlName="email" id="email" type="email" placeholder="Email"></p>
      <p><input formControlName="password" id="password"  type="password" placeholder="Contraseña"></p>
      <p><input formControlName="name" id="name"  type="text" placeholder="Nombre"></p>
      <p><input formControlName="surname" id="surname"  type="text" placeholder="Apellido"></p>
      <p><input (click)="onSignup()" [disabled]="formSignup.invalid" type="button" value="Registrase"></p>
    </form>
  </div>
</div>
