<mat-card>
  <mat-card-title>{{regiEdit}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formSignup" (ngSubmit)="onSignup()">
      <p>
        <mat-form-field>
          <input formControlName="email" matInput id="email" type="email" placeholder="Email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input formControlName="password" matInput id="password"  type="password" placeholder="Contraseña">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input formControlName="name" matInput id="name"  type="text" placeholder="Nombre">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input formControlName="surname" matInput id="surname"  type="text" placeholder="Apellido">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button [disabled]="formSignup.invalid" color="accent">{{regiEdit}}</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
